@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
}
/*-----------------head---------------------*/
header {
    background-color: black;
    color: white;
    padding-top: 50px ;
    padding-bottom: 50px;


}

header h1 {
    font-family: 'Passion One', cursive;
    text-align: center;
    font-size: 10vw;
    font-style: normal;
}

header p {
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


header p a:hover {
    text-decoration: underline;
}
/*-----------------head---------------------*/

/*-----------------main---------------------*/


section{
    padding: 60px 0 60px 30px;
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
}
article{
    padding: 10px;
    margin-right:50%;
}
section#joaninha article{
    background-color: rgba(0, 0, 0, 0.407);
    display: inline-block;
    
}
section#joaninha{
    background-image: url(img/joaninha.jpg);
    background-size: cover ;
    background-attachment: fixed;
    color: white;
    background-position: right center ;
}
section#folhas article{
    background-color: rgba(0, 0, 0, 0.407);
    display: inline-block;
}
section#folhas{
    background-image: url(img/livro.jpg);
    background-size: cover ;
    background-attachment: fixed;
    color: white;
    background-position: right center ;
}

/*-----------------main---------------------*/

/*-----------------footer-------------------*/

footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer p a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer p a {
    text-decoration: underline;
}